/* src/Main/Main.module.css */
.PaginationContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media screen and(min-width:300px) and (max-width:500)  {
  .PaginationContainer{
    width: 100%;
  }
}