.NewsBannerContainer{
    height: 550px;
    width: 450px;
    background-color: rgba(173, 216, 230, 0.869);
    margin: 25px 10px 10px 10px ;
    border-radius:0px 20px;
    position: relative;
    box-shadow: 5px 3px 5px rgba(255, 255, 255, 0.79);
    overflow-y: auto;
}

.NewsBannerHeading{
    background-color: rgba(99, 112, 117, 0.759) ;
    border-radius: 0px 20px 0 0;
    font-size: 18px;
}

.NewsBannerContainer img{
    border: 2px solid white;
    border-radius: 10px;
}

.NewsBannerDescription{
    text-align: left;
    margin-left: 5px;
    color: black;
}

.NewsBannerFooter{
    background-color:rgba(99, 112, 117, 0.759) ;
    border-radius: 0 0 0px 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    
}

.NewsBannerLink{
    color: black;
    text-align: left;
    margin-left: 5px;
}

@media screen and (min-width:300px) and (max-width:500px){
    .NewsBannerContainer{
        width: 100%;
    }
    .NewsBannerContainer img{
        width: 100%;
    }
}